<div>
<h1 class="top-list"><%= @user.email %></h1>
<% if @user.image.url != nil %>
  <%= image_tag @image, id:"upload-image" %>
<% end %>
<%= render 'form' %>
<br>
<%= link_to 'Back', locations_path, class:"back-link top-padded" %>
</div>
