$dark-pink: #ffaaa5;
$light-pink: #ff8b94;
$white: #ffffff;
$shadow-grey: #dddddd;
$black: #111111;


.loginnav {
  display: inline-block;
  float: right;
  background: $dark-pink;
  padding: 20px;
  width: 25%;
  z-index: 99;
  border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
  margin-right: 20px;
}

.top_bar {
  background: $light-pink;
  box-shadow: 0px -1px 10px 2px $black;
  float: left;
  z-index: 1;
  width: 100%;
}

.name {
  color: $white;
  display: inline-block;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 2px;
  padding-left: 50px;
  text-shadow: 5px 5px 5px $black;
}

.login_name {
  background: $light-pink;
  display: inline-block;
  float: right;
  margin: 50px;
}

.field {
  font-family: Arial;
  display: inline-block;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  color: $black;
}

.signup-form {
  display: inline-block;
  float: right;
  background: $dark-pink;
  padding: 20px;
  margin-top: 140px;
  width: 10%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 20px;
  text-align: center;
}

body {
  margin: 0;
}
