.loginnav {
  display: inline-block;
  float:right;
  background: #ffaaa5;
  padding:20px;
  margin-top:240px;
  width:25%;
  border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
  margin-right:20px;
}

.top_bar {
  background: #ff8b94;
  float:left;
  position:absolute;
  width:100%;
  box-shadow: 0px -1px 10px 2px black;
}

.name {
  padding-left:50px;
  font-weight: lighter;
  color:white;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 5px 5px black;
  letter-spacing: 2px;
  display: inline-block;
}

.login_name {
  background: #ff8b94;
  display:inline-block;
  float:right;
  margin:50px;
}

.field {
  display: inline-block;
}

#signup {
  display: inline-block;
  float:right;
}

body {
  margin: 0px;
}
