<% if current_user.admin? %>
  <%= button_to "Users", users_path, { method: :get } %>
<% end %>

<h1>All Locations</h1>

<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location%></li>
  <% end %>
</ul>


<%= link_to 'Add New Location', new_location_path, method: :get %>
